
  
    <% if(user){ %>
       
        <form method="POST" action="/logout">
        <h1>Logged in as: <%= user.email %></h1>
        <button type="submit" class="btn btn-dark">Logout</button>
    </form>
      <% } else{ %>  
        <h1>
            <div>
            <a href="/register"> register here</a> <br>
            <a href="/login"> login</a>
            </div>
       </h1>
      
     <% } %>


     
        
        
<h1>TinyApp</h1>
